.Mainpage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-height: 100vh;
    height: 100vh !important;
}

.Content{
    margin-top: 20px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Content h2{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: #1a1b1c;
}

.Forms{
    margin-top: 20px;
    width: 100%;
    text-align: left;
    justify-content: center;
}

