.LoginAdmin{
    text-align: center;
    width: 60%;
    border: 1px solid lightgrey;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid rgb(231, 231, 231);
}

.LoginAdmin form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    /* border: 1px solid lightgrey; */
}

.LoginAdmin form input{
    padding: 10px 20px;
    margin: 10px ;
    background-color: white;
}

.LoginAdmin form button{
    width: 30%;
    text-align: center;
    margin: 10px auto 0 auto;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    background-color: #1a1b1c;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor:pointer;
}

.LoginAdmin form button:hover{
    background: none;
    border: 1px solid #1a1b1c;
    color: #1a1b1c;
}

.SelectLoginType{
    display: flex;
    margin-bottom: 0;
    background-color: rgba(211, 211, 211,.4) ;
}
.SelectLoginType p{
    flex: 1;
    font-family: sans-serif;
    padding: 10px;
    cursor: pointer;
}