.footer{
    display: block;
    text-align: left;
    justify-content: right;
    margin-bottom: 0px !important;
    border-top: 1px solid lightgrey;
}

.footer h5{
    color: #1a1b1c;
    font-size: 16px;
    text-align: center;
}
.names{
    text-align: center;
    width: 70%;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-evenly;
}
.names p{
    font-size: 12px;
    color: #1a1b1c;
    font-family: sans-serif;
    font-weight: bolder;
    border-bottom: 2px solid transparent;
    padding: 5px;
    cursor: pointer;
}


.names p:hover{
    border-bottom: 2px solid #1a1b1c;
}