@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
  margin: 0;
  font-family: roboto ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .input-fields {
    @apply py-1.5 w-1/2 px-2 focus:outline-none border border-[#5e6be0] rounded-sm mb-3

  }
  .bg-light{
    @apply bg-[#13668a0c];
  }
  .text-dark {
    @apply text-[#13678A] ;
  }
  .bg-dark {
    @apply bg-[#13678A] ;
  }
  .text-medium {
    @apply text-[#7c89ab];
  }
  .bg-medium-dark {
    @apply bg-[#D9CDBF];
  }
  .text-light {
    @apply text-[#f5f2ee];
  }
  .btn {
    @apply bg-dark text-light py-2 px-4 my-2 rounded-sm text-sm border border-transparent font-medium hover:bg-transparent hover:text-dark hover:border-[#291a1a];
  }
}


